/*.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/

body {
  margin: 20px auto;
  font-family: 'Lato';
  background:#555;
  color:#fff;
}
*{
  margin:0;
  padding:0;
}
h4 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
p {
  font-size: 1rem;
  font-weight: normal;
}
div {
  list-style:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration:none;
  color:#000;
  background-color:#ff7eb9;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  margin:1em;
}

.yellow {
  background: #feff9c
}

.pink {
  background:#ff7eb9
}

.cyan {
  background:#a2e4f1;
}

.orange {
  background: #f4ac46;
}

.magenta {
  background: #d6a2f1;
}

.green {
  background: #a2f1ae;
}

fa-icon{
  position: relative;
  float: right;
  margin: -16px -10px 0px;
}

