body {
    margin: 20px auto;
    font-family: 'Lato';
    background:#555;
    color:#fff;
  }
  *{
    margin:0;
    padding:0;
  }
  h4 {
    font-weight: bold;
    font-size: 1.8rem;
  }
  p {
    font-size: 1rem;
    font-weight: normal;
  }
  div{
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration:none;
    color:#000;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    margin:1em;
  }
 
.resize {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 20%;
}

textarea{
    background: transparent;
    border: transparent;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    resize: none;
}

.yellow {
  background: #feff9c
}

.pink {
  background:#ff7eb9
}

.cyan {
  background:#a2e4f1;
}

.orange {
  background: #f4ac46;
}

.magenta {
  background: #d6a2f1;
}

.green {
  background: #a2f1ae;
}