
<div *ngIf="showAddTask; else elseBlock" [ngClass]="this.color">
    <form (keyup.enter)="onSubmit()">
    <section class="input-section">
        <section>
        <textarea
            name="text"
            [(ngModel)]="text"
            id="text"
            placeholder="Add Task"
            rows="4"
        >
        </textarea>
        </section>
        <section>
        <textarea
            type="text"
            name="day"
            [(ngModel)]="day"
            id="day"
            placeholder="Add Date"
            row="2"
        >
        </textarea>
        </section>
    </section>
</form>

</div>
<ng-template #elseBlock>
    <input  type="image" class="resize" src="../assets/green-add-button.png" (click)="onClick()"/>
</ng-template>



